{% extends "base-main.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

<!-- Sub-heading -->
{% block sub-header %}
<section id="sub-header-2" class="subheader">
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <h1>Data Warehousing</h1>
                       <ul class="breadcrumbs">
                           <li><a href="#">Home</a></li>
                           <b>/</b>
                           <li class="active">Projects/Data Warehousing</li>
                       </ul>
                   </div>
               </div>
           </div>
</section>
{% endblock sub-header %}
<!-- Main Content -->
{% block content %}

{% endblock content %}
