{% extends "base-main.html" %} {% load cms_tags %} {% block title %}{% page_attribute "page_title" %}{% endblock title %}

<!-- Sub-heading -->
{% block sub-header %}
<section id="sub-header-2" class="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
                <ul class="breadcrumbs">
                    <li><a href="#">Home</a></li>
                    <b>/</b>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock sub-header %}
<!-- Main Content -->
{% block content %}
<!-- section begin -->
<section id="section-about" class="margin-top-10">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="">
                  <h2>Who We Are</h2>
                  <div class="tiny-border"></div>
                  <p>HealthIT is a three-year (2016–2019) project funded by USAID/Kenya.
                    The HealthIT project led by the University of Nairobi through UNES
                     (University of Nairobi Enterprises and Services) is working
                     collaboratively with the Government of Kenya (GoK)-
                     Ministry of Health to contribute to evidence-based decision making by health stakeholders in Kenya.
                     This groundbreaking collaboration is aimed at  strengthening national Information systems that support
                     reporting, provide data for decision making and improving human capacity on use of health systems,
                      quality data capture and reporting.
                    </p>
              </div>
          </div>
            <!-- <div class="divider-single"></div>
            <div class="col-md-4">
                <h5 class="">Vision</h5>
                <div class="tiny-border"></div>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed quis neque rutrum, dignissim libero vitae, ullamcorper diam. Donec eros massa, cursus eu risus nec, tempus aliquam odio. Proin lacinia urna
                    ac ex euismod imperdiet.</p>
            </div>
            <div class="col-md-4">
                <h5 class="">Mission</h5>
                <div class="tiny-border"></div>
                <p>Sed dui nisi, feugiat ac dictum sed, feugiat vel sem. Ut elementum nisl sit amet metus fermentum, nec ultricies ipsum accumsan. Sed eget molestie lectus. Fusce egestas at lorem ac semper. Curabitur vehicula vitae ipsum eu pulvinar. Cras
                    egestas eros sed</p>
            </div>
            <div class="col-md-4">
                <h5 class="">Our Core Values</h5>
                <div class="tiny-border"></div>
                <ul class="list-style-1">
                    <li>Integrity</li>
                    <li>Team Work</li>
                    <li>Unity of Purpose</li>
                    <li></li>
                </ul>
            </div> -->
        </div>
    </div>
</section>
<!-- section close -->
<!-- section begin -->
<section id="section-featured" class="bg-grey">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="">
                  <h2>What We Do?</h2>
                  <div class="tiny-border"></div>
              </div>
          </div>
            <div class="col-md-4">
                <div class="feature">
                    <i class="fa fa-info"></i>
                    <h3>Sustaining use of DHIS2 in Kenya</h3>
                    <p></p>
                </div>
                <div class="feature">
                    <i class="fa fa-code"></i>
                    <h3>Software Development and Support of JPHES/DHIS2/KHMFL</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <i class="fa fa-database"></i>
                    <h3>Health Systems Interoperability</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <i class="fa fa-users"></i>
                    <h3>Capacity building</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section close -->

<!-- <section id="section-featured" class="bg-grey">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="">
                  <h2>Project Objectives</h2>
                  <div class="tiny-border"></div>
              </div>
          </div>
          <div class="col-md-12">
          <iframe src="https://docs.google.com/presentation/d/1g6t4QGU543aNO4ismLx3kOKJ-Lb85yxst4OqR1nYd_8/embed?start=false&loop=false&delayms=3000"
          frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
        </div>
    </div>
</section> -->
<!-- section close -->

<!-- section begin -->
<section id="section-team" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <h2>Our Team</h2>
                    <div class="tiny-border"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:pwaiganjo@healthit.uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Prof. Peter Wagacha</h6>
                    <div class="subtext">Chief of Party(CoP)</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:dorwa@uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Dr. Dan Orwa</h6>
                    <div class="subtext">DCOP Training and Administration</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:dorwa@healthit.uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Rapheal Pundo</h6>
                    <div class="subtext">DCOP Technical</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:eabade@uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Dr. Elisha Abade</h6>
                    <div class="subtext">DSL Lead</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <h6>Dr.Robert Oboko</h6>
                    <div class="subtext">E-learning Lead</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Moses Njatha</h6>
                    <div class="subtext">M&E Lead</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:jkirui@healthit.uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Joan Kirui</h6>
                    <div class="subtext">Project Administrator</div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:twangui@healthit.uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Teresiah Wangui</h6>
                    <div class="subtext">Office Assistant</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:jkinuthia@healthit.uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Joram Kinuthia</h6>
                    <div class="subtext">Network Engineer</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:jkinuthia@healthit.uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Fintan Kamau</h6>
                    <div class="subtext">DSL Developer</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:omunyao@healthit.uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <h6>Oliver Munyao</h6>
                    <div class="subtext">Lead Developer</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:fegati02@gmail.com" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Felix Ongati</h6>
                    <div class="subtext">Software Engineer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Steve Waweru</h6>
                    <div class="subtext">Software Engineer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/default.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:dbanga@healthit.uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Dennis Banga</h6>
                    <div class="subtext">Software Engineer</div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- section close -->

{% endblock content %}
