{% extends "base-main.html" %} {% load cms_tags %} {% block title %}{% page_attribute "page_title" %}{% endblock title %}

<!-- Sub-heading -->
{% block sub-header %}
<section id="sub-header-2" class="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
                <ul class="breadcrumbs">
                    <li><a href="#">Home</a></li>
                    <b>/</b>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock sub-header %}
<!-- Main Content -->
{% block content %}
<!-- section begin -->
<section id="section-about" class="margin-top-10">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="">
                  <h2>Center for Health Informatics(C4HI)</h2>
                  <div class="tiny-border"></div>
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed quis neque rutrum, dignissim libero vitae, ullamcorper diam. Donec eros massa, cursus eu risus nec, tempus aliquam odio. Proin lacinia urna
                      ac ex euismod imperdiet.
                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed quis neque rutrum, dignissim libero vitae, ullamcorper diam. Donec eros massa, cursus eu risus nec, tempus aliquam odio. Proin lacinia urna
                          ac ex euismod imperdiet.
                          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed quis neque rutrum, dignissim libero vitae, ullamcorper diam. Donec eros massa, cursus eu risus nec, tempus aliquam odio. Proin lacinia urna
                              ac ex euismod imperdiet.
                    </p>
              </div>
          </div>
            <div class="divider-single"></div>
            <div class="col-md-4">
                <h5 class="">Vision</h5>
                <div class="tiny-border"></div>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed quis neque rutrum, dignissim libero vitae, ullamcorper diam. Donec eros massa, cursus eu risus nec, tempus aliquam odio. Proin lacinia urna
                    ac ex euismod imperdiet.</p>
            </div>
            <div class="col-md-4">
                <h5 class="">Mission</h5>
                <div class="tiny-border"></div>
                <p>Sed dui nisi, feugiat ac dictum sed, feugiat vel sem. Ut elementum nisl sit amet metus fermentum, nec ultricies ipsum accumsan. Sed eget molestie lectus. Fusce egestas at lorem ac semper. Curabitur vehicula vitae ipsum eu pulvinar. Cras
                    egestas eros sed</p>
            </div>
            <div class="col-md-4">
                <h5 class="">Our Core Values</h5>
                <div class="tiny-border"></div>
                <ul class="list-style-1">
                    <li>Integrity</li>
                    <li>Team Work</li>
                    <li>Unity of Purpose</li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- section close -->
<!-- section begin -->
<section id="section-featured" class="bg-grey">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="">
                  <h2>What We Do?</h2>
                  <div class="tiny-border"></div>
              </div>
          </div>
            <div class="col-md-4">
                <div class="feature">
                    <i class="fa fa-code"></i>
                    <h3>Software Development</h3>
                    <p>Fusce at accumsan justo. Nulla lacus efficitur vel aliquam sed, fringilla sit amet neque.</p>
                </div>
                <div class="feature">
                    <i class="fa fa-question-circle"></i>
                    <h3>Software Support</h3>
                    <p>Fusce at accumsan justo. Nulla lacus efficitur vel aliquam sed, fringilla sit amet neque.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <i class="fa fa-pencil"></i>
                    <h3>Consultancy</h3>
                    <p>Donec malesuada urna porta tellus feugiat, ac tempor tortor ornare.</p>
                </div>
                <div class="feature">
                    <i class="fa fa-database"></i>
                    <h3>Data Warehousing</h3>
                    <p>Donec malesuada urna porta tellus feugiat, ac tempor tortor ornare.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <i class="fa fa-users"></i>
                    <h3>Trainings</h3>
                    <p>Etiam eget neque lorem. Interdum et malesuada fames ac ante ipsum primis faucibus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section close -->

<!-- section begin -->
<section id="section-team" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <h2>Our Team</h2>
                    <div class="tiny-border"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/wagacha.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:waiganjo@uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Prof. Peter Wagacha</h6>
                    <div class="subtext">Team Leader</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/orwa.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:dorwa@uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Dr. Dan Orwa</h6>
                    <div class="subtext">Project Manager</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/abade.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:eabade@uonbi.ac.ke" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>DR. Elisha Abade</h6>
                    <div class="subtext">Networking Expert</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/oboko.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <h6>Robert Oboko</h6>
                    <div class="subtext">UCD Expert</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/kirui.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:joankirui@gmail.com" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Joan Kirui</h6>
                    <div class="subtext">Project Management Support</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/gichangi.png" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:gichangijohn3@gmail.com" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>John Gichangi</h6>
                    <div class="subtext">Lead Software Developer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/munyao.png" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:omunyao@gmail.com" target="_top"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <h6>Oliver Munyao</h6>
                    <div class="subtext">Lead Software Developer</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/ongati.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:fegati02@gmail.com" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Felix Ongati</h6>
                    <div class="subtext">Software Engineer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/waweru.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Steve Waweru</h6>
                    <div class="subtext">Software Engineer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box">
                    <div class="team-inner">
                        <img src="/static/images/team/banga.jpg" alt="" class="img-circle">
                        <div class="mask"></div>
                        <ul class="team-social-list">
                            <li><a href="mailto:dennisbanga@gmail.com" target="_top"><i class="fa fa-envelope"></i></a></li>

                        </ul>
                    </div>
                    <h6>Dennis Banga</h6>
                    <div class="subtext">Software Engineer</div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- section close -->

{% endblock content %}
