{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HealthIT-{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HealthIT is an USAID funded activity to sustaining use of health systems in Kenya">
    <meta name="author" content="HealthIT/UoN">

    <!-- Favicons
    ================================================== -->
    <!-- <link rel="icon" href="{% static '/static/images/favicon.png' %}" type="image/x-icon"> -->
    <!-- LOAD CSS FILES -->
       <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
       <!-- color scheme -->
       <link rel="stylesheet" href="{% static 'switcher/demo.css' %}" type="text/css">
       <link rel="stylesheet" href="{% static 'switcher/colors/blue.css' %}" type="text/css" id="colors">
       {% render_block "css" %}

</head>

<body>
  {% cms_toolbar %}
    <!-- Preload /static/images start //-->
    <div class="images-preloader" id="images-preloader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- Preload /static/images end //-->

    <div id="wrapper">

        <!-- header begin -->
        <header class="site-header-3 site-header">
            <!-- Main bar start -->
            <div id="sticked-menu" class="main-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- logo begin -->
                            <div id="logo" class="pull-left">
                                <a href="">
                                    <img src="{% static 'images/logo.png' %}" alt="" class="logo">
                                </a>
                            </div>
                            <!-- logo close -->

                            <!-- Header Group Button Right begin -->
                            <div class="header-buttons pull-right hidden-xs hidden-sm">

                                <div class="header-contact">
                                    <ul class="clearfix">
                                        <li class="phone"><i class="fa fa-map-marker"></i> <span>Chiromo Campus, UoN</span></li>
                                        <li class="border-line">|</li>
                                        <li class="phone"><i class="fa fa-building-o"></i> <span>SCI/Examination Centre Building</span></li>
                                    </ul>
                                </div>

                            </div>
                            <!-- Header Group Button Right close -->

                            <!-- desktop menu begin -->
                            <nav id="desktop-menu" class="site-desktop-menu hidden-xs hidden-sm">
                                <ul class="clearfix">
                                  {% show_menu 0 1 100 100 "menu.html" %}
                                </ul>
                            </nav>
                            <!-- desktop menu close -->

                            <!-- btn-mobile menu begin -->
                            <a id="show-mobile-menu" class="btn-mobile-menu hidden-lg hidden-md"><i class="fa fa-bars"></i></a>
                            <!-- btn-mobile menu close -->

                            <!-- mobile menu begin -->
                            <nav id="mobile-menu" class="site-mobile-menu hidden-lg hidden-md">
                                <ul></ul>
                            </nav>
                            <!-- mobile menu close -->

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <div class="gray-line"></div>
        {% block sub-header %}
        {% endblock sub-header %}
        <div id="content" class="no-padding">
          {% block content%}
          {% endblock content%}
        </div>
        <!-- content close -->

        <!-- footer begin -->
        <footer class="footer-1 bg-color-1">

            <!-- main footer begin -->
            <div class="main-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="compact-widget">
                                <div class="widget-inner">
                                    <img class="logo-footer" src="{% static 'images/footer-logo.png' %}" alt="HealthIT">
                                    <p>Strengthening health systems in Kenya</p>
                                    <div class="social-icons clearfix">
                                        <a href="#" class="facebook tipped" data-title="facebook"  data-tipper-options='{"direction":"top","follow":"true"}'><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="twitter tipped" data-title="twitter"  data-tipper-options='{"direction":"top","follow":"true"}'><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="compact-widget">
                                <h3 class="widget-title">Important Links</h3>
                                <div class="widget-inner">
                                    <ul>
                                        <li><a href="http://www.health.go.ke/" target="_blank">Ministry of Health-Kenya</a></li>
                                        <li><a href="https://www.usaid.gov/kenya/global-health" target="_blank">USAID-Kenya</a></li>
                                        <li><a href="https://www.uonbi.ac.ke" target="_blank">University of Nairobi</a></li>
                                        <li><a href="http://sci.uonbi.ac.ke" target="_blank">School of Computing and Informatics-UoN</a></li>
                                        <li><a href="http://unes.co.ke/" target="_blank">University of Nairobi Enterprises and Services(UNES)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="compact-widget">
                                <h3 class="widget-title">Quick Links</h3>
                                <div class="widget-inner">
                                    <ul>
                                        <li><a href="http://hiskenya.org" target="_blank">HIS(DHIS2)- Kenya</a></li>
                                        <li><a href="http://test.hiskenya.org" target="_blank">Test HIS(DHIS2)- Kenya</a></li>
                                        <li><a href="http://servicedesk.health.go.ke/portal" target="_blank">MOH ServiceDesk</a></li>
                                        <li><a href="http://kmhfl.health.go.ke/" target="_blank">KHMFLv2</a></li>
                                        <li><a href="http://jphes.uonbi.ac.ke" target="_blank">JPHES</a></li>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="compact-widget">
                                <h3 class="widget-title">Contact Us</h3>
                                <div class="widget-inner">
                                    <p>Address: 30197 <br> 00100, University of Nairobi</p>
                                    <!-- <p>Phone: +(254) 724 123 123</p> -->
                                    <p>Email: <a href="mailto:info@healthit.uonbi.ac.ke" target="_top">info[at]healthit.uonbi.ac.ke</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- main footer close -->

            <!-- sub footer begin -->
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            Copyright &copy; 2016. HealthIT/UoN.
                        </div>
                    </div>
                </div>
            </div>
            <!-- sub footer close -->

        </footer>
        <!-- footer close -->

    </div>

    <a id="to-the-top" ><i class="fa fa-angle-up"></i></a>

    <!-- LOAD JS FILES -->
     <script src="{% static 'js/jquery.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     {% render_block "js" %}
     <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
     <script src="{% static 'js/easing.js' %}"></script>
     <script src="{% static 'js/owl.carousel.js' %}"></script>
     <script src="{% static 'js/jquery.fitvids.js' %}"></script>
     <script src="{% static 'js/wow.min.js' %}"></script>
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
     {% block contact_js %}

     {% endblock contact_js %}

     <!-- Waypoints-->
     <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
     <script src="{% static 'js/sticky.min.js' %}"></script>
     <script src="{% static 'js/tipper.js' %}"></script>
     <script src="{% static 'js/compact.js' %}"></script>
       <script src="{% static 'js/custom-index1.js' %}"></script>

     <!-- SLIDER REVOLUTION SCRIPTS  -->
     <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
     <script src="{% static 'js/revslider-custom.js' %}"></script>


</body>
</html>
