{% extends "base-main.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

<!-- Sub-heading -->
{% block sub-header %}
<section id="sub-header-2" class="subheader">
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <h1>Contact Us</h1>
                       <ul class="breadcrumbs">
                           <li><a href="#">Home</a></li>
                           <b>/</b>
                           <li class="active">Contact Us</li>
                       </ul>
                   </div>
               </div>
           </div>
</section>
{% endblock sub-header %}
<!-- Main Content -->
{% block content %}

<!-- section begin -->
           <section id="section-contact">
               <div class="container">
                   <div class="row">
                       <div class="col-md-8">
                           <div class="text-left">
                               <!-- <h4>Get in touch</h4> -->
                               <p>For any queries</p>
                           <form action="" class="wpcf7-form">
                               <div class="col-one-third">
                                   <input type="text" placeholder="Your Name">
                               </div>
                               <div class="col-one-third margin-one-third">
                                   <input type="email" placeholder="Your Email">
                               </div>
                               <div class="col-one-third">
                                   <input type="text" placeholder="Your Phone">
                               </div>
                               <div class="col-full"><textarea placeholder="Your Message"></textarea></div>
                               <div class="clearfix"></div>
                               <div class="text-center">
                                   <div class="divider-single"></div>
                                   <button class="btn btn-primary btn-big">Send Email</button>
                               </div>
                           </form>
                       </div>
                       <div class="col-md-4">
                           <h4>GENERAL INFO</h4>
                           <ul class="contact-list">
                               <li><i class="fa fa-location-arrow"></i> Riverside Drive, Chiromo</li>
                               <li><i class="fa fa-phone"></i> +254-</li>
                               <li><i class="fa fa-envelope"></i> <a href="c4hi@uonbi.ac.ke">c4hi@uonbi.ac.ke</a></li>
                               <li><i class="fa fa-globe"></i> <a href="c4hi.uonbi.ac.ke">c4hi.uonbi.ac.ke</a></li>
                           </ul>
                           <h4>WORKING HOURS</h4>
                           <ul class="contact-list">
                               <li><i class="fa fa-clock-o"></i> Monday–Friday: 8am to 5pm</li>
                               <li><i class="fa fa-times-circle"></i> Saturday: Closed</li>
                               <li><i class="fa fa-times-circle"></i> Sunday: Closed</li>
                           </ul>
                       </div>
                   </div>
               </div>
           </section>
           <!-- section close -->

{% endblock content %}
