{% extends "base-main.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

<!-- Sub-heading -->
{% block sub-header %}
<section id="sub-header-2" class="subheader">
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <h1>Projects</h1>
                       <ul class="breadcrumbs">
                           <li><a href="#">Home</a></li>
                           <b>/</b>
                           <li class="active">Projects</li>
                       </ul>
                   </div>
               </div>
           </div>
</section>
{% endblock sub-header %}
<!-- Main Content -->
{% block content %}

<!-- section begin -->
<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div id="blog-grid" class="blog-grid">
                <!-- post begin -->
                <article class="item col-md-4 col-sm-6">
                    <div class="post-media">
                        <img  alt="" src="{% static 'images/news/2.jpg' %}" class="img-responsive">
                        <div class="post-date">
                            <span class="date-day">22</span>
                            <span class="date-month">May</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-title">
                            <h5><a href="blog-single.html">Help You Get Amazing Theme</a></h5>
                        </div>
                        <div class="post-metadata">
                            <span class="byline">
                                <i class="fa fa-user"></i>
                                <a href="#">AuThemes</a>
                            </span>
                            <span class="cat-links">
                                <i class="fa fa-folder-open"></i>
                                <a href="#">Markup</a>
                            </span>

                        </div>
                        <div class="post-entry">
                            <p>In varius varius justo, eget ultrices mauris rhoncus non. Morbi tristique, mauris eu imperdiet bibendum</p>

                        </div>
                    </div>
                </article>
                <article class="item col-md-4 col-sm-6">
                  {% placeholder project_item %}
                </article>
                <!-- post close -->
            </div>

            <!-- pagination begin -->
            <!-- <div class="pagination-ourter text-center">
                <ul class="pagination">
                    <li><span class="page-numbers current">1</span></li>
                    <li><a class="page-numbers" href="#">2</a></li>
                    <li><a class="page-numbers" href="#">3</a></li>
                    <li><a class="page-numbers" href="#">4</a></li>
                    <li><a class="page-numbers" href="#">5</a></li>
                    <li><a class="page-numbers" href="#">...</a></li>
                    <li><a class="page-numbers" href="#">25</a></li>
                    <li><a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div> -->
            <!-- pagination close -->

        </div>
    </div>
</div>

{% endblock content %}
