{% extends "base-main.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

<!-- Sub-heading -->
{% block sub-header %}
<section id="sub-header-2" class="subheader">
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <h1>Training Manuals</h1>
                       <ul class="breadcrumbs">
                           <li><a href="#">Home</a></li>
                           <b>/</b>
                           <li class="active">Resources/Training Manuals</li>
                       </ul>
                   </div>
               </div>
           </div>
</section>
{% endblock sub-header %}
<!-- Main Content -->
{% block content %}
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="blog-list">
                    <!-- post begin -->
                    <article>
                      <div class="post-media">
                          <img alt="" src="{% static 'images/news/2.jpg' %}" class="img-responsive">
                          <div class="post-date">
                              <span class="date-day">22</span>
                              <span class="date-month">May</span>
                          </div>
                      </div>
                      <div class="post-content">
                          <div class="post-title">
                              <h5><a href="blog-single.html">JPHES Quickstart</a></h5>
                          </div>
                          <div class="post-metadata">
                              <span class="byline">
                                  <i class="fa fa-user"></i>
                                  <a href="#">HealthIT/UoN</a>
                              </span>
                              <span class="cat-links">
                                  <i class="fa fa-calender-check-o"></i>
                                  <a href="#">2017</a>
                              </span>

                          </div>
                          <div class="post-entry">
                              <p>JPHES documentation, JPHES servicedesk, Test and Portal</p>
                              <p><a class="btn btn-border" href="">Read more</a></p>
                          </div>
                      </div>
                    </article>
                    <article>
                      {% placeholder manual_item%}
                    </article>
                    <!-- post close -->
                  </div>
                </div>
              </div>
            </div>
          </div>


{% endblock content %}
