{% extends "base-main.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

<!-- Sub-heading -->
{% block sub-header %}
<section id="sub-header-2" class="subheader">
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <h1>Publications</h1>
                       <ul class="breadcrumbs">
                           <li><a href="#">Home</a></li>
                           <b>/</b>
                           <li class="active">Resources/Publications</li>
                       </ul>
                   </div>
               </div>
           </div>
</section>
{% endblock sub-header %}
<!-- Main Content -->
{% block content %}
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="blog-list">
                    <!-- post begin -->
                    <article>
                        <div class="post-media">
                            <img alt="" src="{% static 'images/news/2.jpg' %}" class="img-responsive">
                            <div class="post-date">
                                <span class="date-day">22</span>
                                <span class="date-month">May</span>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="post-title">
                                <h5><a href="blog-single.html">Help You Get Amazing Theme</a></h5>
                            </div>
                            <div class="post-metadata">
                                <span class="byline">
                                    <i class="fa fa-user"></i>
                                    <a href="#">AuThemes</a>
                                </span>
                                <span class="cat-links">
                                    <i class="fa fa-folder-open"></i>
                                    <a href="#">Markup</a>
                                </span>
                                <span class="comment-link">
                                    <i class="fa fa-comments-o"></i>
                                    <a href="#">29 comments</a>
                                </span>
                            </div>
                            <div class="post-entry">
                                <p>Nulla eleifend, sapien eget porttitor maximus, nisl ante convallis dolor, nec consequat felis ex a ex. Etiam vestibulum enim euismod dui vestibulum, vitae fringilla nibh consectetur. Integer at volutpat augue. Donec consectetur, est nec laoreet scelerisque, lacus nulla fermentum odio, ut accumsan enim ipsum a justo.</p>
                                <p><a class="btn btn-border" href="blog-single.html">Read more</a></p>
                            </div>
                        </div>
                    </article>
                    <article>
                      {% placeholder publication_item %}
                    </article>
                    <!-- post close -->
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock content %}
